
article {
    background-color: #88aed0;
    margin: 8px;
    padding: 8px;
}

body {
    background: #fff;
    border-top: 10px solid #8fd4d8;
    color: #242424;
    font-family: Arial, Helveticam, sans-seriff;
    margin: 35px;
    padding: 35px;
}

button {
    background-color: #8fd4d8;
    margin: 4px;
    padding: 7px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
}

html {
    background: #88aed0;
}

#resume {
    width: 750px;  
}

#work {
    width: 750px;  
}
